---
import '../styles/scss/adtest.scss'
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout title="Ad Test">
  <div class="adtest-container">
    <div class="section-leap hl-section" id="analysis">
      <div class="section-container">
        <img
          class="is-pc"
          decoding="async"
          src="https://hollyland.oss-us-east-1.aliyuncs.com/official-website/product/pyro7/Group1400.jpg"
          alt=""
        />
        <img
          class="is-pe"
          decoding="async"
          src="https://hollyland.oss-us-east-1.aliyuncs.com/official-website/product/pyro7/Group1400-pe.jpg"
          alt=""
        />
        <div class="section-wrapper">
          <div class="medium-width">
            <div class="section-subtitle">
              Leap Forward - HollyOS Image Analysis
            </div>
            <div class="section-title">
              Precise Image Analysis,<br />
              Enhanced Your Experience
            </div>
            <div class="section-description">
              Pyro 7 offers a convenient custom shortcut key feature that can be
              used for dual-view monitoring and can also be used to quickly
              launch Waveform, Recording, Focus Assist and other image analysis
              functions.
            </div>
            <div class="section-video-container">
              <div class="section-list">
                <div class="section-item active">
                  <div class="section-icon">
                    <img
                      class="default-icon"
                      decoding="async"
                      src="https://hollyland.oss-us-east-1.aliyuncs.com/official-website/product/pyro7/icon_wjnP4p.svg"
                      alt=""
                    />
                    <img
                      class="light-icon"
                      decoding="async"
                      src="https://hollyland.oss-us-east-1.aliyuncs.com/official-website/product/pyro7/icon_W2DfT4.svg"
                      alt=""
                    />
                  </div>
                  <div class="section-item-title">Waveform</div>
                </div>
                <div class="section-item">
                  <div class="section-icon">
                    <img
                      class="default-icon"
                      decoding="async"
                      src="https://hollyland.oss-us-east-1.aliyuncs.com/official-website/product/pyro7/icon_xxTXiW.svg"
                      alt=""
                    />
                    <img
                      class="light-icon"
                      decoding="async"
                      src="https://hollyland.oss-us-east-1.aliyuncs.com/official-website/product/pyro7/icon_DAydiw.svg"
                      alt=""
                    />
                  </div>
                  <div class="section-item-title">Focus Assist</div>
                </div>
                <div class="section-item">
                  <div class="section-icon">
                    <img
                      class="default-icon"
                      decoding="async"
                      src="https://hollyland.oss-us-east-1.aliyuncs.com/official-website/product/pyro7/icon_WDsMrS.svg"
                      alt=""
                    />
                    <img
                      class="light-icon"
                      decoding="async"
                      src="https://hollyland.oss-us-east-1.aliyuncs.com/official-website/product/pyro7/icon_RkrZwN.svg"
                      alt=""
                    />
                  </div>
                  <div class="section-item-title">Zebra Pattern</div>
                </div>
                <div class="section-item">
                  <div class="section-icon">
                    <img
                      class="default-icon"
                      decoding="async"
                      src="https://hollyland.oss-us-east-1.aliyuncs.com/official-website/product/pyro7/icon_iKeYF8.svg"
                      alt=""
                    />
                    <img
                      class="light-icon"
                      decoding="async"
                      src="https://hollyland.oss-us-east-1.aliyuncs.com/official-website/product/pyro7/icon_P6KmdC.svg"
                      alt=""
                    />
                  </div>
                  <div class="section-item-title">False Color</div>
                </div>
                <div class="section-item">
                  <div class="section-icon">
                    <img
                      class="default-icon"
                      decoding="async"
                      src="https://hollyland.oss-us-east-1.aliyuncs.com/official-website/product/pyro7/icon_hxWTNn.svg"
                      alt=""
                    />
                    <img
                      class="light-icon"
                      decoding="async"
                      src="https://hollyland.oss-us-east-1.aliyuncs.com/official-website/product/pyro7/icon_J4Dz46.svg"
                      alt=""
                    />
                  </div>
                  <div class="section-item-title">3D LUT</div>
                </div>
                <div class="section-item">
                  <div class="section-icon">
                    <img
                      class="default-icon"
                      decoding="async"
                      src="https://hollyland.oss-us-east-1.aliyuncs.com/official-website/product/pyro7/icon_xj84m3.svg"
                      alt=""
                    />
                    <img
                      class="light-icon"
                      decoding="async"
                      src="https://hollyland.oss-us-east-1.aliyuncs.com/official-website/product/pyro7/icon_ybwDNR.svg"
                      alt=""
                    />
                  </div>
                  <div class="section-item-title">Image Overlay</div>
                </div>
              </div>
              <div class="video-list">
                <div class="video-item active">
                  <video muted playsinline preload="metadata">
                    <source
                      src="https://hollyland.oss-us-east-1.aliyuncs.com/official-website/product/pyro7/video01.webm"
                      type="video/mp4"
                    />
                  </video>
                </div>
                <div class="video-item">
                  <video muted playsinline preload="metadata">
                    <source
                      src="https://hollyland.oss-us-east-1.aliyuncs.com/official-website/product/pyro7/video02.webm"
                      type="video/mp4"
                    />
                  </video>
                </div>
                <div class="video-item">
                  <video muted playsinline preload="metadata">
                    <source
                      src="https://hollyland.oss-us-east-1.aliyuncs.com/official-website/product/pyro7/video03.webm"
                      type="video/mp4"
                    />
                  </video>
                </div>
                <div class="video-item">
                  <video muted playsinline preload="metadata">
                    <source
                      src="https://hollyland.oss-us-east-1.aliyuncs.com/official-website/product/pyro7/video04.webm"
                      type="video/mp4"
                    />
                  </video>
                </div>
                <div class="video-item">
                  <video muted playsinline preload="metadata">
                    <source
                      src="https://hollyland.oss-us-east-1.aliyuncs.com/official-website/product/pyro7/video05.webm"
                      type="video/mp4"
                    />
                  </video>
                </div>
                <div class="video-item">
                  <video muted playsinline preload="metadata">
                    <source
                      src="https://hollyland.oss-us-east-1.aliyuncs.com/official-website/product/pyro7/video06.webm"
                      type="video/mp4"
                    />
                  </video>
                </div>
              </div>
              <div class="section-swiper-container is-pe">
                <div class="swiper section-swiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="section-icon">
                        <img
                          class="default-icon"
                          decoding="async"
                          src="https://hollyland.oss-us-east-1.aliyuncs.com/official-website/product/pyro7/icon_wjnP4p.svg"
                          alt=""
                        />
                        <img
                          class="light-icon"
                          decoding="async"
                          src="https://hollyland.oss-us-east-1.aliyuncs.com/official-website/product/pyro7/icon_W2DfT4.svg"
                          alt=""
                        />
                      </div>
                      <div class="section-item-title">Waveform</div>
                    </div>
                    <div class="swiper-slide">
                      <div class="section-icon">
                        <img
                          class="default-icon"
                          decoding="async"
                          src="https://hollyland.oss-us-east-1.aliyuncs.com/official-website/product/pyro7/icon_xxTXiW.svg"
                          alt=""
                        />
                        <img
                          class="light-icon"
                          decoding="async"
                          src="https://hollyland.oss-us-east-1.aliyuncs.com/official-website/product/pyro7/icon_DAydiw.svg"
                          alt=""
                        />
                      </div>
                      <div class="section-item-title">Focus Assist</div>
                    </div>
                    <div class="swiper-slide">
                      <div class="section-icon">
                        <img
                          class="default-icon"
                          decoding="async"
                          src="https://hollyland.oss-us-east-1.aliyuncs.com/official-website/product/pyro7/icon_WDsMrS.svg"
                          alt=""
                        />
                        <img
                          class="light-icon"
                          decoding="async"
                          src="https://hollyland.oss-us-east-1.aliyuncs.com/official-website/product/pyro7/icon_RkrZwN.svg"
                          alt=""
                        />
                      </div>
                      <div class="section-item-title">Zebra Pattern</div>
                    </div>
                    <div class="swiper-slide">
                      <div class="section-icon">
                        <img
                          class="default-icon"
                          decoding="async"
                          src="https://hollyland.oss-us-east-1.aliyuncs.com/official-website/product/pyro7/icon_iKeYF8.svg"
                          alt=""
                        />
                        <img
                          class="light-icon"
                          decoding="async"
                          src="https://hollyland.oss-us-east-1.aliyuncs.com/official-website/product/pyro7/icon_P6KmdC.svg"
                          alt=""
                        />
                      </div>
                      <div class="section-item-title">False Color</div>
                    </div>
                    <div class="swiper-slide">
                      <div class="section-icon">
                        <img
                          class="default-icon"
                          decoding="async"
                          src="https://hollyland.oss-us-east-1.aliyuncs.com/official-website/product/pyro7/icon_hxWTNn.svg"
                          alt=""
                        />
                        <img
                          class="light-icon"
                          decoding="async"
                          src="https://hollyland.oss-us-east-1.aliyuncs.com/official-website/product/pyro7/icon_J4Dz46.svg"
                          alt=""
                        />
                      </div>
                      <div class="section-item-title">3D LUT</div>
                    </div>
                    <div class="swiper-slide">
                      <div class="section-icon">
                        <img
                          class="default-icon"
                          decoding="async"
                          src="https://hollyland.oss-us-east-1.aliyuncs.com/official-website/product/pyro7/icon_xj84m3.svg"
                          alt=""
                        />
                        <img
                          class="light-icon"
                          decoding="async"
                          src="https://hollyland.oss-us-east-1.aliyuncs.com/official-website/product/pyro7/icon_ybwDNR.svg"
                          alt=""
                        />
                      </div>
                      <div class="section-item-title">Image Overlay</div>
                    </div>
                  </div>

                  <div class="swiper-button-prev"></div>
                  <div class="swiper-button-next"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</DefaultLayout>

<script>
    import '../scripts/adtest.js';
</script>
